body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
}

.navbar-brand h2 {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
}

.table-wrapper {
  background: #fff;
  padding: 5px 10px;
  margin: 30px 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px 30px;
  margin: -10px -10px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title-0 {
  background: #ffc107;
}
.table-title-1 {
  padding-top: 15px;
  text-align: left;
}
.table-margin a {
  margin-left: -20px;
}
.table-title-1 a {
  color: #fff;
  text-decoration: none;
}
.table-title-1 a i {
  padding-left: 10px;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 18px;
}
.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;

  vertical-align: middle;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}
table.table td a:hover {
  color: #2196f3;
}

table.table td a.settings {
  color: #2196f3;
}
table.table td a.delete {
  color: #f44336;
}

table.table .avatar {
  width: 4em;
  vertical-align: middle;
  margin-right: 10px;
}
.project-margin {
  margin-left: 40px;
}
.project-margin-2 {
  margin-left: 30px;
  opacity: 0.8;
}
.project-margin-3 {
  margin-left: -90px;
  opacity: 0.8;
}
.project-margin-4 {
  margin-left: 25px;
}
.project-margin i {
  padding-left: 10px;
  color: #979797;
  font-size: 12px;
}
.project-margin i:hover {
  color: #202020;
}
.user-detail p {
  font-size: 12px;
  display: inline;
  padding-left: 5px;
}
.user-detail .user-email {
  font-size: 12px;
  font-weight: 200;
  margin-left: 28px;
  display: block;
}
.user-detail button {
  font-size: 10px;
  margin-left: 30px;
  margin-top: -10px;
  display: block;
}
.opacity-1 {
  opacity: 0;
}
.text-success {
  color: #10c469;
}
.text-info {
  color: #62c9e8;
}
.text-warning {
  color: #ffc107;
}
.text-danger {
  color: #ff5b5b;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
table.table td {
  position: relative;
}

.user-edit {
  display: none;
  position: absolute;
  height: 45px;
  padding: 7px;
  right: -50px;
  bottom: 0px;
  webkit-box-shadow: -2px -2px 8px 0px rgba(191, 184, 191, 0.71);
  -moz-box-shadow: -2px -2px 8px 0px rgba(191, 184, 191, 0.71);
  box-shadow: -2px -2px 8px 0px rgba(191, 184, 191, 0.71);
}
.user-edit div {
  display: inline;
}
.user-edit .toggle {
  margin-top: 0px;
}

.user-edit .toggle label {
  margin-top: 0px;
  margin-bottom: -5px;
  margin-right: 8px;
}

.user-edit .delete {
  background-color: #f44336;
  border-radius: 5px;
  padding: 8px 10px;
}
.user-edit .edit {
  display: inline-block;
  background-color: #299be4;
  border-radius: 5px;
  padding: 7px 8px 6px 8px;
}
.user-edit div i {
  color: #fff;
  font-size: 10px;
}

table.table tr td:hover .user-edit {
  display: block;
}

.user-detail:hover .user-edit {
  display: block;
}
.user-detail:active .user-edit {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #2196f3;
  border-radius: 20px;
  transition: all 0.3s;
}

.switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: white;
  top: 1px;
  right: 1px;
  transition: all 0.3s;
}

.user-edit input[type="checkbox"]:checked + .switch::after {
  transform: translateX(-20px);
}

.user-edit input[type="checkbox"]:checked + .switch {
  background-color: #f44336;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
.full-btn {
  width: 100%;
}
.modal {
  width: 350px;
  margin: 5% 37%;
}
.modal .modal-title {
  text-align: center;
  padding-left: 90px;
}
